.git
.gitignore
.env
.env.backup
.env.production
.vscode
.idea
.fleet
.phpunit.cache
.phpunit.result.cache

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

backup_data_sql
tests
phpunit.xml

README.md
docker-compose.yml
